<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hungrai Hungrai Hippos</title>
    {{ stylesheet_tag("main_css") | safe }}
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id=main></div>
    {{ javascript_tag("app_js") | safe }}
    <img src="{{ url_for('video_feed') }}">
  </body>
</html>
